!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/pygments.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/javascripts/socket.io.min.js')
    script(src='/javascripts/mdwatch.js')
  body
    #main
