body {
  background-color: #eee;
}
code {
  background-color: #f5f5f5;
}
p>code, li>code {
  border: 1px solid #ccc;
  padding: 0px 3px;
  margin: 0 2px;
  border-radius: 0;
}
pre {
  border-radius: 0;
}
#main {
  width: 740px;
  min-height: 600px;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.30);
  padding: 30px;
}
